*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/bg-body.png);
}

.container{
    max-width: 425px;
    margin: 0 auto;
    padding: 10px;
}

header, footer{
    text-align: center;
}

.logo{
    border-radius: 50%;
    margin-top: 15px;
    width: 180px;
}

.toggle-nav{
    display: block;
    margin: 20px;
}

span{
    color: white;
    padding: 10px;
    background-color: #444444;
}

ul{
    list-style-type: none;
}

ul li{
    background-color: #444444;
    margin-bottom: 2px;
    width: 100%;
}

.main-nav ul li a, .main-footer ul li a{
    display: inline-block;
    text-transform: uppercase;
    width: 100%;
    padding: 8px 0;
    font-size: 1em;
}

.banner{
    display: none;
}

.vip-products{
    overflow: hidden;
}

.product{
    float: left;
    width: 100%;
    margin-top: 20px;
}

.product h2, .product p{
    margin-top: 10px;
}

.photo{
    width: 100%;
}

.photo-container{
    position: relative;
    width: 100%;
}

.special{
    position: absolute;
    width: 30%;
    top: 0%;
    right: 5%
}

.zoom{
    display: inline-block;
    width: 100%;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.more{
    display: inline-block;
    background-color: #444444;
    text-transform: lowercase;
    padding: 10px;
    margin-top: 10px;
}

.main-footer{
    margin-top: 20px;
}

@media (min-width: 768px){

    .container{
        max-width: 768px;
    } 

    .toggle-nav{
        display: none;
    }

    .banner{
        display: block;        
    }

    .banner img{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .main-nav{
        overflow: hidden;
        width: 100%;
        margin-top: 30px;
    }

    .main-nav ul li{
        float: left;
        width: 15%;
        margin-left: 2%;        
    }

    .main-nav ul li:nth-child(1){
        margin-left: 0%;
    }

    .product{
        float: left;
        width: 49%;
        margin: 0% 1% 2% 0% ;
    }

    .product:nth-child(even){
        margin-left: 1%;
        margin-right: 0%;
    }

}

@media (min-width: 1200px){

    .container{
        max-width: 1200px;
    }

    .main-nav ul li{
        width: 180px;
        height: 50px;
        margin-left: 20px ;

    }

    .main-nav ul li a{
        width: 180px;
        height: 50px;
        padding: 15px;
    }

    .product{
        width: 380px;
        margin: 0 0 20px 20px ;
    }

    .product:nth-child(even){
        margin: 0 0 20px 20px;
    }

    .product:nth-child(1), .product:nth-child(4){
        margin: 0 0 20px 0;

    }

    .main-footer{
        background-color: #c80000;
        border-radius: 30px 30px 0 0;
        height: 150px;
    }

    .main-footer ul{
        display: inline-block;
        padding: 40px 0;
        margin: 16px 0;
        overflow: hidden;
        width: 60%;
    }

    .main-footer ul li{
        float: left;
        background-color: #c80000;
        border-left: 1px solid white;
        padding: 0 10px;
        width: 15%;
    }

    .main-footer ul li:nth-child(1){
        border-left: none;
    }

    .main-footer ul li a{
        text-transform: capitalize;               
    }

}


